.modalPerso:hover{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    cursor: pointer;
}

.charImg {
    max-width:50%!important;
}

#marvelNav {
    background-color: #ee1c27;
    height: 60px;
}