<div class="character">
    {% set char = tab.data.results.0 %}

    <div class="panel panel-danger">
        <div class="panel-heading text-center"><b>{{ char.name }}</b></div>

        <div class="panel-body text-center">
            <img class='charImg' src="{{  char.thumbnail.path }}.{{ char.thumbnail.extension }}" alt="img">
            <p>{{ char.description ? char.description : "Aucune description" }}</p>
        </div>
    </div>
</div>