{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block metaDescription %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="container">

        <h1>Index</h1>

        {% for char in tab.data.results %}
            <h3>{{ char.name }}</h3>
        {% endfor %}
    </div>

{% endblock %}